<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conversor de Audio</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        #audio-container {
            width: 80%;
            margin: 40px auto;
            text-align: center;
        }
    </style>
</head>
<body>
    <div id="audio-container">
        <h1>Conversor de Audio</h1>
        <button id="grabar-btn">Grabar Audio</button>
        <audio id="audio" controls></audio>
        <div id="resultado"></div>
    </div>
    <script src="{{ url_for('static', filename='funciones.js') }}"></script>

</body>
</html>